<h2>Szczegóły zlecenia</h2>

<p><strong>ID zlecenia:</strong> @Model.Id</p>
<p><strong>Status:</strong> @Model.Status</p>
<p><strong>Mechanik:</strong> @Model.AssignedMechanic</p>
<p><strong>Samochód:</strong> @Model.Vehicle.Make @Model.Vehicle.Model</p>
<p><strong>Data utworzenia:</strong> @Model.CreatedAt.ToLocalTime()</p>


<a asp-controller="ServiceTask" asp-action="Index" asp-route-orderId="@Model.Id" class="btn btn-primary">Pokaż zadania</a>

<a asp-controller="Comment" asp-action="Index" asp-route-orderId="@Model.Id" class="btn btn-primary">Pokaż komentarze</a>

<a asp-action="DownloadPdf" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Pobierz PDF</a>

